.manager {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manager-block {
    width: 100%;
    max-width: 800px;
    height: 85vh;
    margin-inline: auto;
}

.manager-block.automatic-height {
    height: auto;
}

.manager-block > .block {
    height: 100%;
    box-sizing: border-box;
}

.manager-content {
    gap: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.control-button {
    gap: 5px;
    display: flex;
    align-self: center;
}

.control-group {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .manager {
        flex-direction: column;
    }
}

.manager-item-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.manager-item-row > input[type="checkbox"] {
    transform: scale(1.4);
}

.manager-item {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #fafafa;
    width: 100%;
}

.manager-item-header {
    cursor: pointer;
    padding: 8px 10px;

    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;

    position: relative;
}

.control-item-header .name-item {
    display: flex;
    align-items: center;
}

.manager-item-header .control-item-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.manager-item-header .control-item-header input {
    max-width: 80px;
    margin-inline: 2px;
}

.manager-item-header .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
}

.manager-item-header .indicator.none {
    display: none;
}

.manager-item-header .indicator.red {
    background-color: #ff6b6b;
}

.manager-item-header .indicator.yellow {
    background-color: #ffd166;
}

.manager-item-header .indicator.green {
    background-color: #50e3a4;
}

.manager-item-header:hover {
    background-color: #f0f0f0;
}

.manager-item.open .manager-item-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.manager-item-body {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0 10px;
    font-size: 13px;
    color: #555;

    transition:
        opacity 0.25s ease,
        visibility 0.25s ease,
        height 0.25s ease,
}

.manager-item.open .manager-item-body {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 10px;
}

.manager-item-body select,
.manager-item-body input,
.manager-item-body button {
    padding: 0;
    font-size: 13px;
}

.manager-item-body .line {
    display: flex;
    min-width: 0;
}

.manager-item-body .select {
    margin: 3px;
}

.manager-item-body button {
    padding: 3px;
}

.manager-item-body .item-in-queue {
    margin-top: 3px;
    font-weight: bold;
}

.manager-item-body .button-qr-download {
    margin-top: 5px;
}
