.block {
    padding: 20px;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.block .block-header {
    width: 100%;
    position: relative;
    text-align: center;

    font-size: 18px;
    font-weight: bold;

    padding-bottom: 10px;
    margin-bottom: 20px;
}

.block > .block-header::after {
    left: 0;
    bottom: 0;

    position: absolute;
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    background-color: #ccc;
}
