
#notifications {
    width: 100vw;
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  3% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.notification {
    width: 100%;
    max-width: 75%;
    background-color: #fff;

    margin-top: 12px;
    padding: 3px 10px;
    border-radius: 8px;

    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    animation: fadeInOut 12s ease forwards;
}

.notification.info {
    border-left: 6px solid #4A90E2;
}

.notification.warning {
    border-left: 6px solid #F5A623;
}

.notification.error {
    border-left: 6px solid #D32F2F;
}

.notification-content {
    font-size: 21px;
    word-break: break-word;
}

.notification-close {
    border: 1px solid #333;
}
