body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    background: #f0f0f0;
    cursor: default;
    user-select: none;
}

#root {
    padding: 20px;
}

body, input, select, button, textarea {
    font-family: sans-serif;
}
