body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    background: #f0f0f0;
}

#root:not(:has(#login-block)) {
    padding: 20px;
}

div:not(input):not(textarea):not([contenteditable]) {
    user-select: none;
    cursor: default;
}

body, input, select, button, textarea {
    font-family: sans-serif;
}
