.select {
    --select-padding-block: 3px;
    --option-height: 30px;
    --option-margin-bottom: 3px;

    width: 98%;
    padding-block: 3px;
    padding-inline: 2px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s ease;
    font-size: 14px;
}

.select.small {
    --option-height: 20px;
    font-size: 11px;
}

.option, .select > input {
    flex: 0 0 auto;

    min-height: var(--option-height);
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: var(--option-margin-bottom);

    display: flex;
    align-items: center;
}

.select .option:last-child {
    margin-bottom: 0;
}

.option.hover {
    transform: scale(0.99);
    background-color: rgb(239, 245, 255);
}

.option.focus {
    outline: none;
    border: 1px solid rgb(100, 150, 255);
    background-color: rgb(210, 230, 255);
}
